.nav-bar
{
    background-color: white;
    justify-content: space-between;
    display: flex;
    height: 65px;
    margin-top: 4px;
    border-bottom: 1px solid gray;
    position: fixed;
    left: 0px;
    right: 0px;
    top: -4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 100;

}



.logo
{
    display: inline-block;
    width: 140px;
    margin-top: 8px;
    margin-right: -5px;
}

.icon
{
    display: inline-block;
    width: 30px;
}

.nav-item
{
    margin-right: 10px;
}

.botaonav
{
    display: flex;
    width: 100px;
    height: 40px;
    background-color: rgb(173, 58, 58);
    transform: skewX(-20deg);
    margin-left: 16px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-list
{
    display: flex;
    align-items: center;
}

.nav-list ul
{
    display: flex;
    align-items: center;
    list-style: none;
}

.inicio
{
    color: rgb(161, 11, 11);
}

.nav-link
{
    text-decoration: none;
    font-size: 1.15rem;
    margin: 5px;
    border-color: blue;
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.mobile-menu-icon
{
    display: none;
}

.mobile-menu
{
    display: none;
}




/*@media(min-width: 751px) and (max-width: 999px)
{
    .video-grid
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .video-grid
    {
        grid-template-columns: 1fr 1fr;
    }    

}

*/

.mobile-menu .nav-link
{
    display: flex;
    height: 25px;
    background-color: rgb(173, 58, 58);
    transform: skewX(-20deg);
    margin-left: 16px;
    color: white;
    text-align: center;
    align-items: center;
    margin-right: 23px;
    justify-content: center;
    margin-bottom: -9px;
    font-size: 17px;
    z-index: 300;
    
  
}

@media (min-width: 100px) and (max-width: 810px)
{

    
    .logo
    {
        width: 110px;
    }

    .logoheader
    {
        margin-right: -26px;
    }

    .nav-bar
    {
        padding: 1.5rem 4rem;
        height: 55px;
    }

    .nav-item
    {
        display: none;
    }

    .mobile-menu-icon
    {
        display: block;
        margin-left: -37px;
        margin-top: 11px;
    }

    .mobile-menu-icon button
    {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item
    {
        display: block;
        padding-top: 1.2rem;

    }

    .mobile-menu .open
    {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu button
    {
        width: 100%;
    }
    
    .open
    {
        display: block;
    }   
}

@media(max-width: 410px)
{
    .logo
    {   
        width: 100px;
    }

    .icon
    {
        width: 21px;
    }   

    .nav-bar
    {
        height: 35px;
    }


    .mobile-menu
    {
    
        margin-bottom: 10px;
    }
    
}


